@import "tailwindcss";

@theme {
  --color-primary: #365B6D;
  --color-secondary: #6C9286;
  --color-background: #E4E5E7;
  --color-foreground: #000000;
  --color-footer: #424D4A;
  
  --color-primary-foreground: #FFFFFF;
  --color-secondary-foreground: #FFFFFF;
}

body {
  @apply bg-background text-foreground;
}
